*.pyc
*.swp
*.swo
*.orig
*.egg-info/

# setuptools
dist/

# tox
.tox

# project
.env
/var/
/docs/build/
/.cache/
/.pytest_cache/
/.pytype/

# VS Code files for those working on multiple tools
.vscode/

# Environments
venv/

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version