recursive-include user_agent/data *
recursive-include test *.py
include AUTHORS.rst
include CHANGELOG.md
include docs
include .flake8
include LICENSE
include Makefile
include pylintrc
include pytest.ini
include README.rst
include requirements_dev.txt
include tox.ini
