sphinx
mock
bumpversion
pytest
build
twine
coverage
coveralls
pytest-cov
pytest-xdist

/web/test_server

ruff; python_version >= "3.0"
mypy; python_version >= "3.0"
pylint; python_version >= "3.0"
#types-urllib3; python_version >= "3.0"
#types-six; python_version >= "3.0"
#types-pytz; python_version >= "3.0"
